@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin shadow {
  box-shadow: 0px 5px 25px 5px rgba(black, 0.2);
}

// RWD
$laptop: 1000px;
$tablet: 768px;
$mobile: 500px;

@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
